<html>
  <head>
    <title>research!rsc</title>
    <link rel="alternate" type="application/atom+xml" title="research!rsc - Atom" href="http://research.swtch.com/feed.atom" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="fonts/minion3/fonts.css" rel="stylesheet">
    <link href="fonts/source-code-pro/source-code-pro.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/common.css" | relURL }}">

  </head>
  <body>
    <a class="rss" href="/feed.atom">RSS</a>
    <div class="main">
    <ul class="toc">
      <li class="toc-header"><span class="toc-title">home</span>
        <span class="toc-subtitle">一些关于编程的想法,
    by <a href="https://swtch.com/~rsc/" rel="author">saul</a></li>
      
      <!-- <li class="toc-head"><b>Table of Contents</b> (favorites in bold)</li> -->
      <li class="toc-head"><b>Table of Contents</b></li>
      
      {{ range site.RegularPages }}
        <li><a href="{{ .RelPermalink }}" class="">{{ .LinkTitle }}</a> <span class="toc-when">{{ .Date.Format "January 2, 2006" }}</span>
      
          <div class="toc-summary">
            {{ .Summary }}
          </div>
        
        </li>
      {{ end }}
      
     <li class="toc-header copyright">
    © 2023 saul. Modeled after Russ Cox's blog website.
    Please visit <a href="https://research.swtch.com/">Russ Cox's Blog</a> for more information.
      <br>
      <!-- <a href="/feed.atom">Atom / RSS</a> -->
      </li>
    </ul>
    </div>
  </body>
</html>
